.conteiner{
    display: flex;
    align-items: center;
    gap:10px;
    background-color: #2F1353;
    padding: 10px;
    height: 100px;
    font-size: 30px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif
}
.conteiner h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: aliceblue;
}