.conteiner{
    display: flex;
    align-items: center;
    gap:10px;
    background-color: #2F1353;
    padding: 10px;
    height: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}
.conteiner h1{
    display: flex;
    margin-bottom: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    color: rgb(150, 97, 235);
}